/* 
TIPHOGRAPHY SYSTEM
-COLORS
#FF6800
#1A1A1A

*/

/* 
RESET 
*/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* 
GENERAL 
*/

.container {
    max-width: 1000px;
    margin: 0 auto;
}

.my-row {
    display: flex;
    flex-wrap: wrap;
    margin: 0 -10px
}

a:link, a:visited {
    text-decoration: none;
}


/* 
HEADER 
*/

header {
    background-color: #FF6800;
    height: 60px;
    padding: 15px;
    box-shadow: 1px 1px 5px gray;
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 1;
}


header * {
    color: white;
}

.col-header {
    width: calc(100% / 3);
}

.col--center {
    text-align: center;
}

.col--right {
    text-align: right;
    font-size: 0.8em;
    line-height: 30px;
    padding-right: 10px;
}

.col-header > nav > ul > li {
    display: inline-block;
    padding: 0 5px 0 10px;;
}

.col--left {
    font-size: 0.8em;
    line-height: 30px;
}

img.logo {
    width: 35%;
    line-height: 30px;
}

/* 
MAIN 
*/

main {
    margin-top: 60px;
}

article {
    width: calc((100% / 3) - 20px);
    margin: 30px 10px 15px 10px;
}

div .img-container> img {
    width: 100%;
    display: block;
}

.img-container .second-img {
    display: none;
}

article:hover .second-img {
    display: block;
}

article:hover img:not(.second-img) {
    display: none;
}

.img-container {
    position: relative;
}

article img {
    box-shadow: 2px 2px 10px lightgrey;
}

.info-price {
    position: absolute;
    bottom: 30px;
    color: white;
    font-size: smaller;
}

.info-item {
    padding-top: 10px;
}

.sale {
    background-color: red;
    padding: 3px 7px;
}

.green-sale {
    background-color: rgb(0, 185, 0);
    padding: 3px 7px;
}

.price {
    color: red;
    font-size: 0.8em;
    font-weight: 600;
}

.whish-list {
    position: absolute;
    top: 20px;
    right: 0;
    font-size: 2em;
    padding: 3px 10px;
}

.whish-list:hover {
    color: red;
}

.marca, .old-price {
    color: #616161;
    font-size: 0.8em;
}

.old-price {
    text-decoration: line-through;
}

.model {
    font-weight: 600;
}


/* 
FOOTER 
*/

footer {
    background-color: #1A1A1A;
    height: 80px;
    margin-top: 30px;
}

footer * {
    color: white;
}

.col-footer {;
    width: calc(100% / 2);
}

nav ul > li {
    list-style: none;
    display: inline-block;
    padding-right: 5px;
}

.privacy nav ul > li {
    list-style: none;
    display: inline-block;
    padding-right: 5px;
}

.col-footer-right, .col-footer-left {
    line-height: 30px;
    padding-top: 10px;
}


/* 
DEBUG 
*/

/* .debug .container {
    border: 1px dashed black;
}

.debug .col-header {
    border: 1px dashed blue;
} */

/* .debug article {
    background-color: aqua;
    border: 1px dashed black;
} */

/* .debug .col-footer {
    border: 1px dashed blue;
} */

